<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/tabWeatherIcon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Aaron. It uses data provided by Weatherstack.com and Mapbox.com </p>

        <p>This Jack Russell represents me, and the energy that I bring to my projects</p>
        <img class="jackRussell" src="/img/JackRussell.jpeg">
    </div>

    {{>footer}}
</body>

</html>


